.calc-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #dbddd6;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: #d6d6d6;
    }

    &:active {
        background-color: #c6c6c6;
        box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    }
}

.bg-operator {
    background-color: #757575;
    color: white;

    &:hover {
        background-color: #646464 !important;
    }

    &:active {
        background-color: #646464 !important;
        box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    }
}

.bg-clear {
    background-color: #cd8644;
    color: white;

    &:hover {
        background-color: #c07c3c !important;
    }

    &:active {
        background-color: #c07c3c !important;
        box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    }
}
